# Build
**/bin/
**/obj/
**/dist/
**/.vs/

# Dependencies
**/node_modules/

# Secrets & local config
**/.env
**/appsettings.Development.json
**/*.user
**/*.suo

# Logs & uploads
**/Logs/*.txt
**/Uploads/**
!**/Uploads/.gitkeep
!**/Logs/.gitkeep

# OS
Thumbs.db
.DS_Store
